<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SisContador.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SisContador.Properties.Settings>
            <setting name="Servidor" serializeAs="String">
                <value>Servidor</value>
            </setting>
            <setting name="Usuario" serializeAs="String">
                <value>Usuario</value>
            </setting>
            <setting name="Contraseña" serializeAs="String">
                <value>Contraseña</value>
            </setting>
            <setting name="BaseDeDatos" serializeAs="String">
                <value>Base de Datos</value>
            </setting>
            <setting name="GruposDeCuentasVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CategoriaDeCuentaVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsuarioVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CuentaVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PuertoDeEnalceDeHost" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="RolVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TipoDeTransaccionVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TransaccionVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PeriodoVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MyColorSetting" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="DefaultColor" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="TasaDeCambioVentanaDespuesDeOperacion" serializeAs="String">
                <value>False</value>
            </setting>
        </SisContador.Properties.Settings>
    </userSettings>
</configuration>